= content_for :navbar do
  = render :partial => "shared/navbar"

= content_for :isobar do
  = render :partial => "shared/isobar"

= content_for :body do
  #mapsWrap
    Google Content Here.

= content_for :footer do
  = render :partial => "shared/footer"
