-# Document Start
!!!
%html
  %head
    %title Torn
    %script{ :type => "text/javascript", :src => "https://maps.googleapis.com/maps/api/js" }
    = stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true
    = javascript_include_tag "application", "data-turbolinks-track" => true
    = csrf_meta_tags

  -# Start Body
  %body
    -# Page Loader
    -##loadingWrap
    -#	#loader
    -#		.spinner.icon-spinner-3
    -#		%p Loading
    -# Start Wrap
    #wrap
      -# Side Wrap
      #sideWrap
        -# Nav Wrap
        #navWrap
          -# Import Nav Wrap Partial
          = yield :navbar

          -# Import Footer Wrap Partial
          = yield :footer

      #contentWrap
        -# Import Iso Bar Wrap Patial
        = yield :isobar

        -# Import Body Of View
        = yield :body
